:root {
    --highlight: #d9828f;
    --color-primary: rgba(206, 86, 86, 0.93);
    --color-secondary: #f8e5dd;
    --color-accent: #021f1f;
}

::selection {
    background-color: var(--highlight);
    color: var(--color-accent);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1.75rem;
    margin: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.625rem;
    color: var(--color-primary);
    font-weight: 1;
}

p {
    line-height: 1.5;
    padding: 20px;
}

code {
    /* Monospace font stack is used for our code blocks to make it look more like code */
    font-family: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console',
    'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono',
    'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier,
    monospace;
}

header {
    background-color: var(--color-secondary);
    border: 5px solid var(--color-accent);
    border-radius: 8px;
    justify-content: center;
}

header h1 {
    position: relative;
    margin: 4rem 3em 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

nav {
    width: 96%;
    margin: 1.5rem;
    padding: 1.5rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 8px;
}

nav li {
    float: right;
    font-size: 1.5em;
    padding-right: 1.5em;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}

main {
    width: 96%;
    margin: 1rem auto;
}

section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 1.5rem;
}

aside {
    position: relative;
    width: 5%;
    text-orientation: upright;
    padding: 1.5rem;
}

article {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--color-secondary);
    border-radius: 8px;
    width: 95%;
    border: 5px dashed var(--color-accent);
}

#work article {
    padding-top: 1.5em;
}

.aside-right {
    writing-mode: vertical-rl;
}

.aside-left {
    writing-mode: vertical-lr;
}

.justify-center {
    justify-content: center;
}

.vl {
    border-right: 6px solid var(--color-primary);
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.card {
    flex: 1 0 100%;
    padding: 1.5rem;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
}

.card figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
    padding: 2rem;
    color: var(--color-accent);

    /* outline is like border, but on the outside of the box instead of inside */
    outline: 2px dashed var(--color-primary);
    outline-offset: -2px;
    transition: all 0.5s ease-in-out;
}

.card figure .card-header {
    /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
    position: relative;
    margin: -4rem 0 1.5rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.card figure:hover,
.card figure:hover .card-header {
    box-shadow: inset 0 0 8px var(--color-accent), 0 0 15px var(--color-accent);
}

.card figure pre {
    flex-grow: 1;
    white-space: pre-wrap;
    overflow: auto;
    tab-size: 4;
    padding: 1.2rem 1rem;
    color: var(--color-accent);
    border-radius: 8px;
    /* use linear-gradient() function to create a fading background  */
    background-image: linear-gradient(
            rgba(49, 100, 128, 0.3) 0%,
            rgba(0, 241, 214, 0.6) 100%
    );
    display: flex;
    align-items: center;
}

.card figure pre:active {
    user-select: all;
}

#selfie {
    border-radius: 25%;
    max-width: 15%;
    max-height: 200px;
}

#contact article {
    font-size: 2em;
}

#contact-info {
    width: 96%;
    margin: 1.5rem;
    padding: 1.5em;
}

#contact-info ul {
    display: inline-flex;
    flex-flow: row wrap;
    flex-basis: 100%;
    list-style-type: none;
    overflow: hidden;
    border-radius: 8px;
    justify-content: space-between;
}

#contact-info li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#contact-info li span {
    padding-left: 20px;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}
@media screen and (min-width: 768px) {
    /* on tablets, set columns to only be 50% of the width and not grow */
    .card {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .big {
        flex: 1 0 100%;
        max-width: 100%;
    }

    /* select the last child to grow to full width if it has space to grow */
    .card:last-child {
        flex-grow: 1;
    }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
    .card {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }

    .big {
        flex: 1 0 66.666%;
        max-width: 66.666%;
    }
}